* {
    box-sizing: border-box;
}

body {
    background-color: #0C4A6E;
    margin: 0;
    font-family: "Inter", sans-serif;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    width: 200px;
    border: 1px solid lightgray;
    border-radius: 10px;
    height: 350px;
}

.avatar {
    width: 100%;
    padding: 10%;
    padding-bottom: 0;
}

.name {
    margin-block: 13px;
    color: #333333;
}

.info {
    padding: 10px;
}

.favorite {
    width: 25px;
    cursor: pointer;  /* Mickey hand */
}

.contact {
    font-size: 0.75rem;
    color: gray;
    margin-block: 7px; /* targets only top and bottom */
}

.favorite-button {  /* remove default styling due to an img */
    border: none;
    background: transparent;
}

.favorite-button:active {  /* remove default styling due to an img */
    transform: none;
    box-shadow: none;
}